@font-face {
    font-family: 'HeadingNow';
    src: url(../assets/fonts/HeadingNowTrial-44Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'HeadingNow-Bold';
    src: url(../assets/fonts/HeadingNowTrial-46Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'HeadingNow-ExtraBold';
    src: url(../assets/fonts/HeadingNowTrial-47Extrabold.ttf) format('truetype');
}

*{

}

header {
    font-family: 'HeadingNow', sans-serif;
    font-size: 25px;

    .brand{
        font-family: 'HeadingNow-Bold', sans-serif;
        font-size: 50px;
    }
    i{
        font-size: 25px;
    }

}

#navBar {
    transition: top 0.3s;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #product-list {
        display: flex;
        justify-content: center;
        max-width: 540px;
        margin: 0 auto;
    }
    #product-list .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.pagination .ellipsis {
    padding: 0.5rem 0.75rem;
    color: #6c757d;
}




