
<div class="container col-2 col-8 col-2">
	<div class="row">
		<!-- Branding Section -->
		<div class="col-lg-4 col-md-6 mb-4">
			<a class="navbar-brand brand" href="../html/homepage.html">ARLIGENT<span class="fs-5">&copy;</span></a>
			<p class="mt-2">Your trusted brand for quality products.</p>
		</div>

		<!-- Social Media Section -->
		<div class="col-lg-4 col-md-6 mb-4">
			<h5>Follow Us</h5>
			<ul class="list-unstyled d-flex gap-3 social-media">
				<li><a href="#"><i class="fa-brands fa-facebook fa-lg"></i></a></li>
				<li><a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a></li>
				<li><a href="#"><i class="fa-brands fa-pinterest fa-lg"></i></a></li>
				<li><a href="#"><i class="fa-brands fa-youtube fa-lg"></i></a></li>
			</ul>
		</div>

		<!-- Navigation Links Section -->
		<div class="col-lg-4 col-md-12">
			<h5>Quick Links</h5>
			<ul class="list-unstyled quick-links">
				<li><a href="#">Payment & Delivery</a></li>
				<li><a href="#">Returns</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
		</div>
	</div>
	<div class="text-center">
		<p>&copy; 2025 ARLIGENT. All rights reserved.</p>
	</div>
</div>
